In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
weather = pd.read_csv('../data/weather.csv',encoding='cp949')
nsv = pd.read_csv('../data/nsv.csv',encoding='cp949')

In [8]:
weather.head()

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),적설(cm)
0,133,대전,2019-01-01 00:00,-4.9,NaN,0.4,0,62,1026.9,NaN
1,133,대전,2019-01-01 01:00,-4.4,NaN,0.6,90,61,1026.7,NaN
2,133,대전,2019-01-01 02:00,-3.9,NaN,0.4,0,59,1026.7,NaN
3,133,대전,2019-01-01 03:00,-4.4,NaN,1.0,200,61,1027.2,NaN
4,133,대전,2019-01-01 04:00,-5.1,NaN,0.7,320,66,1026.7,NaN

In [9]:
nsv.head()

,측정시간,본관동편(ERM_2),기상탑(ERM_3),독신료(ERM_4),하나로서쪽(ERM_6),구즉도서관(ERM_7),제6연구동(ERM_8),구룡지(ERM_9),연산비교지점(ERM_R1),서울2호기서쪽(ERM_S1),서울2호기동쪽(ERM_S2),서울1호기서쪽(ERM_S3)
0,2019-01-01 0:00,0.0120,0.0105,0.0133,0.0140,0.0130,0.0116,0.0117,0.0115,0.0121,0.0137,0.0129
1,2019-01-01 1:00,0.0120,0.0106,0.0133,0.0140,0.0130,0.0117,0.0118,0.0115,0.0122,0.0137,0.0129
2,2019-01-01 2:00,0.0120,0.0106,0.0133,0.0141,0.0131,0.0117,0.0119,0.0115,0.0122,0.0138,0.0130
3,2019-01-01 3:00,0.0121,0.0106,0.0133,0.0141,0.0131,0.0118,0.0118,0.0116,0.0122,0.0138,0.0130
4,2019-01-01 4:00,0.0120,0.0105,0.0134,0.0140,0.0130,0.0117,0.0118,0.0117,0.0122,0.0139,0.0130

In [ ]:
wea