In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
weather = pd.read_csv('../data/weather.csv',encoding='cp949')
nsv = pd.read_csv('../data/nsv.csv',encoding='cp949')

In [3]:
weather.columns

Index(['지점', '지점명', '일시', '기온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(16방위)', '습도(%)',
       '현지기압(hPa)', '적설(cm)'],
      dtype='object')

In [4]:
weather.drop(['지점','지점명'],axis=1, inplace=True)

In [5]:
weather.head()

,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),적설(cm)
0,2019-01-01 00:00,-4.9,NaN,0.4,0,62,1026.9,NaN
1,2019-01-01 01:00,-4.4,NaN,0.6,90,61,1026.7,NaN
2,2019-01-01 02:00,-3.9,NaN,0.4,0,59,1026.7,NaN
3,2019-01-01 03:00,-4.4,NaN,1.0,200,61,1027.2,NaN
4,2019-01-01 04:00,-5.1,NaN,0.7,320,66,1026.7,NaN

In [6]:
# column 이름 변경
weather = weather.rename(columns={'일시':'time','기온(°C)':'temp','강수량(mm)':'rain','풍속(m/s)':'wind(m/s)','풍향(16방위)':'wind_dir','습도(%)':'humidity','현지기압(hPa)':'hPa','적설(cm)':'snow'})

In [7]:
weather.head()

               time  temp  rain  wind(m/s)  wind_dir  humidity     hPa  snow
0  2019-01-01 00:00  -4.9   NaN        0.4         0        62  1026.9   NaN
1  2019-01-01 01:00  -4.4   NaN        0.6        90        61  1026.7   NaN
2  2019-01-01 02:00  -3.9   NaN        0.4         0        59  1026.7   NaN
3  2019-01-01 03:00  -4.4   NaN        1.0       200        61  1027.2   NaN
4  2019-01-01 04:00  -5.1   NaN        0.7       320        66  1026.7   NaN

In [8]:
weather = weather.fillna(0)
weather.head()

               time  temp  rain  wind(m/s)  wind_dir  humidity     hPa  snow
0  2019-01-01 00:00  -4.9   0.0        0.4         0        62  1026.9   0.0
1  2019-01-01 01:00  -4.4   0.0        0.6        90        61  1026.7   0.0
2  2019-01-01 02:00  -3.9   0.0        0.4         0        59  1026.7   0.0
3  2019-01-01 03:00  -4.4   0.0        1.0       200        61  1027.2   0.0
4  2019-01-01 04:00  -5.1   0.0        0.7       320        66  1026.7   0.0

In [9]:
weather.to_csv('../data/new_weather.csv',encoding='cp949')

In [10]:
nsv.columns

Index(['측정시간', '본관동편(ERM_2)', '기상탑(ERM_3)', '독신료(ERM_4)', '하나로서쪽(ERM_6)',
       ' 구즉도서관(ERM_7)', ' 제6연구동(ERM_8)', ' 구룡지(ERM_9)', ' 연산비교지점(ERM_R1)',
       ' 서울2호기서쪽(ERM_S1)', ' 서울2호기동쪽(ERM_S2)', ' 서울1호기서쪽(ERM_S3)'],
      dtype='object')

In [11]:
nsv.drop(['본관동편(ERM_2)', '독신료(ERM_4)', '하나로서쪽(ERM_6)',
       ' 구즉도서관(ERM_7)', ' 제6연구동(ERM_8)', ' 구룡지(ERM_9)', ' 연산비교지점(ERM_R1)',
       ' 서울2호기서쪽(ERM_S1)', ' 서울2호기동쪽(ERM_S2)', ' 서울1호기서쪽(ERM_S3)'],axis=1,inplace=True)

In [12]:
nsv.head()

              측정시간  기상탑(ERM_3)
0  2019-01-01 0:00      0.0105
1  2019-01-01 1:00      0.0106
2  2019-01-01 2:00      0.0106
3  2019-01-01 3:00      0.0106
4  2019-01-01 4:00      0.0105

In [20]:
nsv = nsv.rename(columns={'측정시간':'time','nsv':'mR/h'})

In [21]:
nsv.head()

              time    mR/h
0  2019-01-01 0:00  0.0105
1  2019-01-01 1:00  0.0106
2  2019-01-01 2:00  0.0106
3  2019-01-01 3:00  0.0106
4  2019-01-01 4:00  0.0105

In [22]:
nsv = nsv.fillna(0)
nsv.head()

              time    mR/h
0  2019-01-01 0:00  0.0105
1  2019-01-01 1:00  0.0106
2  2019-01-01 2:00  0.0106
3  2019-01-01 3:00  0.0106
4  2019-01-01 4:00  0.0105

In [23]:
nsv.to_csv('../data/new_nsv.csv',encoding='cp949')

In [24]:
nsv.head()

              time    mR/h
0  2019-01-01 0:00  0.0105
1  2019-01-01 1:00  0.0106
2  2019-01-01 2:00  0.0106
3  2019-01-01 3:00  0.0106
4  2019-01-01 4:00  0.0105